* {
  --app-bg-color: #111;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-bg-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
